*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

ul li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

header{
  height: 4.5rem;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
  position: sticky;
  top: 0;
  z-index: 50;
 

}

header nav{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 1rem;
 

}


header .deskstop-nav-links{
  display: none;
}

.logo{
  display: flex;
}

.mobile ul.mobile-dropdown{
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #f6f6f6;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom:1px solid rgba(0, 0, 0, 0.3);
  width: 60%;
  max-width: 12rem;
  height: calc(100vh - 4.5rem);
  padding: 2rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: none;
  flex-direction: column;
  gap: 1rem;

}

.hero{
  width: 100%;
  min-height: calc(100vh-4.5rem);
  background-image: url(../Images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
  gap: 1.5rem;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.hero-container{
  padding: 2rem 1rem;
}

.hero h1{
  padding: 5rem 1rem 2rem;
  font-size: 4rem;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-self: start;

}

.hero p{
  padding: 0 1rem 2rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.hero a{
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: blue;
  color: white;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1rem 2rem;
}

.hero-photo{
  display: flex;
  flex-direction: column;
  justify-self: end;
  width: 50%;
  
}

.about-me{
  width: 100%;
  min-height: calc(100vh-4.5rem);
  margin-top: 6rem;

}

.about-me2 h2{
  font-size: 1.3rem ;
  margin-bottom: 8rem;
  display: flex;
  padding: 0 3.5rem;
}

.about-me2 p{
  font-size: 1.5rem;
  display: flex;
  padding: 0 3rem;
  position: absolute;
  width: 500px;
}

.photo-2 img{
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-self: end;
  /* position: relative; */
  padding-right: 2rem;
  border-radius: 10px;
  
}
.photo-2 h2{
  display: flex;
  justify-self:end;
  width: 250px;
  margin-bottom: 1rem;
  
  

}
@media(min-width: 1023px){
  .mobile button{
    display: none;

  }

  header .deskstop-nav-links{
  display: block;
  }

  header .deskstop-nav-links{
    display: flex;
    gap: 2.5rem;
    
  }

  header .deskstop-nav-links a{
    color: black;
    font-weight: 600;
    font-size: 0.95rem;
  }
  
  header .deskstop-nav-links a:hover{
    color: blue;
  }



  .deskstop-nav-links li:nth-child(3) {
    position: relative;
    margin-bottom: 0.2rem;

  }

   .deskstop-nav-links li:nth-child(3):hover ul{
    display: flex;

  } 

  .deskstop-nav-links ul{
    position: absolute;
    left: 0;
    display: none;  
    flex-direction: column;
    gap: 1rem;
    background-color: #f6f6f6;
    width: fit-content;
    padding: 2rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
  }

  .deskstop-nav-links li:nth-child(3):hover ul{
    display: flex;
    
  }
  
  header nav{
    width: 80%;
    max-width: 80rem;
    margin: 0 auto;
  }

}

